/*General body selector for box-model*/

*,
*:after,
*:before {
  margin: 0px;
  box-sizing: border-box;
}

/* Header and input field for idea submission */

#page-head {
  background: #E5F3F2;
  height: 30%;
}

#page-title {
  font-family: 'Roboto Slab', sans serif;
  font-size: 4vw;
  font-weight: 700;
  height: auto;
  margin-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}

#page-title #teal {
  color: #00A79D;
}

#page-title #grey {
  color: #6D6E71;
}

#title-input, 
#body-input, 
#save-button,
#search-input {
  border: 1px solid #D1D3D4;
  display: block;
  height: 15%;
  margin: 1% auto;
  width: 60%;
}

input::-webkit-input-placeholder {
  color: #D1D3D4;
  padding: 2px;

}

/*Search bar and idea storage*/

#search-input {
  height: 4%;
}

#save-button {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  margin-bottom: 2%;
}

#save-button:hover {
  background: #045E55;
  cursor: pointer;
}

.card {
  border-bottom: 1px solid #D1D3D4;
  margin: 0 auto;
  width: 60%;
}

img{
  height: 15px;
  margin-right: 5px;
}

.delete {
  float:right;
}

.idea-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', 'sans serif';
  font-weight: 700;
  margin: 5px 0px;
}

.idea-body {
  color: #939598;
  font-family: 'Open Sans', 'sans serif';
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
}

.bold-quality-text {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', 'sans serif';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin: 0px;
}

@media 
